.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". Title Title Title Title ." ". Small-article\ 1 Big-Article Big-Article Small-Article\ 2 ." ". Sections Sections Sections Archive .";
}

.Big-Article { grid-area: Big-Article; }

.Title { grid-area: Title; }

.Small-article\ 1 { grid-area: Small-article\ 1; }

.Small-Article\ 2 { grid-area: Small-Article\ 2; }

.Sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "section-1 section-2";
  grid-area: Sections;
}

.section-1 { grid-area: section-1; }

.section-2 { grid-area: section-2; }

.Archive { grid-area: Archive; }
