
html, h1, h2, h3, h4, body, form, fieldset, table, tr, td, img {
    font-family: Arial,sans-serif;
    font-weight:lighter;
    font-size: (8pt + 0.9vw);
}


h4 {
    text-align:justify; 
    font-size: (8pt + 0.9vw);
}

p {
    margin:0;
    line-height:1.5;
    font-size: (8pt + 0.7vw);
}

h3 {
    font-size: (10pt + 1.15vw);
}

h2 {
    font-size:(12pt + 1.3vw);
    font-weight:bold;
    color:#2f452f;
}

h1 {
    font-weight:bold; 
    color:#2f452f;
}

html {
 padding-left:23%; 
 padding-right:23%;
}

a {
    color:#a63084;
    text-decoration: none;
}
a:hover {
    color:#4D724D;
}

.newspoint {
    margin-bottom:10px;
    font-size: (8pt + 0.6vw);

}
