:root {
    --dark: #cf0000;
    --main: #ffccff;
    --master: black;
    --neutral: white; 
}

a {
    z-index:15;
}

#contactBox {
}

.emph {
   color:var(--dark);
}

html, h1, h2, body, form, fieldset, table, tr, td, img {
    font-family: Arial,sans-serif;
    font-weight:lighter;
}

body{
overflow-x:hidden;
}
*{
    margin:0 auto;
    padding:0px;
}

.toTop {
    width:40px; 
    height:40px;
    position:fixed;  
    bottom:10px; 
    right:5px; 
}


.projectBox {
    width:175px;    
    height:175px;
    border-style:solid;
    border-radius:50%;
    margin-left:30px;
    margin-right:30px;
    
    
    vertical-align:top;
    display:inline-block;
    text-align:center;
    
    background:var(--main);
    background-size:300px; 
    font-family:Courier, sans-serif;
}

#myCanvas {
    position:absolute; 
    left:200px;
    z-index:3; 
}

#projectTable {
    position:absolute; 
    left:40%; 
    width:50%; 
    height: 60%;
    border-style:solid;
    border-color:black;
    margin:auto;

    background-color:var(--neutral); 
    background-position:center; 
    background-size:100%;
    background-repeat:no-repeat; 
    display:inline-block;
}

#projectTitle {
    width:100%; 
    font-family:Courier, sans-serif;
    font-size:25px;     
    height:20%;
    border-bottom: solid;
    margin-bottom:20px;
}

#projectPanel {
    width:40%;
    float:left; 
    height:100%; 
    background-color: rgba(255,255,255,0.8);
}

#projectOutcomes {
    width:30px; 
    height:100%;
    float:right;
    background-color: rgba(0,0,0,0.7);
    vertical-align:top;
    color:white;
    visibility:hidden; 
    transition: 0.5s ease; 
}

#projectTable:hover #projectOutcomes {
      width: 60%;
      left:0;
      visibility:visible;
}   

.outcome {
    width:90%; 
    text:18px; 
    font-family: Courier, sans-serif;
    background:var(--neutral);
    vertical-align:center;
    text-transform:uppercase; 
    margin:5%;
}

li{
    font-size:14px;
    list-style-position: inside;
}

#projectDetails {
    font-size:18px;
    height:20%;
}

#projectDescription {
    padding:10px;
    font-size:14px; 
    height:60%;
    text-align:left;
}

.title {
    position:absolute;
    color:var(--neutral); 
}
.header {
    text-align:left;
    left:10%;
    margin-top:10px;
    font-style:bold; 
    font-family: Courier, sans-serif;
    font-size:40px;
    color:var(--master)
}

#landing{
    position:relative; 
    height:100%; 
    width:100%;
    margin:0px;
}
#main {
    position:relative;     
    left:10%; 
    top:15%;
    padding:0px;
}


h4{
    font-weight:normal;
}

h2{
    text-decoration: underline;
}
.section {
    position:relative; 
    background-color:var(--neutral); 
    width:90%;
    height:100%; 
    text-align:center; 
    margin:0px;
    padding:0px;
    margin-left:5%;
    margin-right:5%;
}

tr {
    padding:0px;
    margin:0px;
}

.icon {
    height:50px;
    width:50px; 
    padding-left:10%;
    padding-right:10%;
    margin-top:5%;
}



.headlink {
    position:relative;
    color:var(--neutral);
    font-size:30px; 
    background-color:rgba(255,255,255,0.3); 
    z-index:4;
    margin:5px;
    width:200px;
}


* {
    margin: 0;
   padding: 0;
 }


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
.stars, .twinkling, .clouds {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}
.stars {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
}
.twinkling{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index:0;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}
.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;
    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
    animation:move-clouds-back 200s linear infinite;
}
